In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer  # 文本特征提取 
# 文本分析是机器学习算法的主要应用领域。但是，文本分析的原始数据无法直接丢给算法，这些原始数据是一组符号，因为大多数算法期望的输入是固定长度
# 的数值特征向量而不是不同长度的文本文件。为了解决这个问题，scikit-learn提供了一些实用工具可以用最常见的方式从文本内容中抽取数值特征
# 将文档文件转化为数值特征的一般过程被称为向量化
# 通用向量使用
# CountVectorizer在一个类中实现了标记和计数
from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_csv('Combined_News_DJIA.csv')   # Gensim库里面提供了许多转化vector的函数

In [34]:
data.head()

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2008-08-08,0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...","b""The 'enemy combatent' trials are nothing but...",...,b'Georgia Invades South Ossetia - if Russia ge...,b'Al-Qaeda Faces Islamist Backlash',"b'Condoleezza Rice: ""The US would not act to p...",b'This is a busy day: The European Union has ...,"b""Georgia will withdraw 1,000 soldiers from Ir...",b'Why the Pentagon Thinks Attacking Iran is a ...,b'Caucasus in crisis: Georgia invades South Os...,b'Indian shoe manufactory - And again in a se...,b'Visitors Suffering from Mental Illnesses Ban...,"b""No Help for Mexico's Kidnapping Surge"""
1,2008-08-11,1,b'Why wont America and Nato help us? If they w...,b'Bush puts foot down on Georgian conflict',"b""Jewish Georgian minister: Thanks to Israeli ...",b'Georgian army flees in disarray as Russians ...,"b""Olympic opening ceremony fireworks 'faked'""",b'What were the Mossad with fraudulent New Zea...,b'Russia angered by Israeli military sale to G...,b'An American citizen living in S.Ossetia blam...,...,b'Israel and the US behind the Georgian aggres...,"b'""Do not believe TV, neither Russian nor Geor...",b'Riots are still going on in Montreal (Canada...,b'China to overtake US as largest manufacturer',b'War in South Ossetia [PICS]',b'Israeli Physicians Group Condemns State Tort...,b' Russia has just beaten the United States ov...,b'Perhaps *the* question about the Georgia - R...,b'Russia is so much better at war',"b""So this is what it's come to: trading sex fo..."
2,2008-08-12,0,b'Remember that adorable 9-year-old who sang a...,"b""Russia 'ends Georgia operation'""","b'""If we had no sexual harassment we would hav...","b""Al-Qa'eda is losing support in Iraq because ...",b'Ceasefire in Georgia: Putin Outmaneuvers the...,b'Why Microsoft and Intel tried to kill the XO...,b'Stratfor: The Russo-Georgian War and the Bal...,"b""I'm Trying to Get a Sense of This Whole Geor...",...,b'U.S. troops still in Georgia (did you know t...,b'Why Russias response to Georgia was right',"b'Gorbachev accuses U.S. of making a ""serious ...","b'Russia, Georgia, and NATO: Cold War Two'",b'Remember that adorable 62-year-old who led y...,b'War in Georgia: The Israeli connection',b'All signs point to the US encouraging Georgi...,b'Christopher King argues that the US and NATO...,b'America: The New Mexico?',"b""BBC NEWS | Asia-Pacific | Extinction 'by man..."
3,2008-08-13,0,b' U.S. refuses Israel weapons to attack Iran:...,"b""When the president ordered to attack Tskhinv...",b' Israel clears troops who killed Reuters cam...,b'Britain\'s policy of being tough on drugs is...,b'Body of 14 year old found in trunk; Latest (...,b'China has moved 10 *million* quake survivors...,"b""Bush announces Operation Get All Up In Russi...",b'Russian forces sink Georgian ships ',...,b'Elephants extinct by 2020?',b'US humanitarian missions soon in Georgia - i...,"b""Georgia's DDOS came from US sources""","b'Russian convoy heads into Georgia, violating...",b'Israeli defence minister: US against strike ...,b'Gorbachev: We Had No Choice',b'Witness: Russian forces head towards Tbilisi...,b' Quarter of Russians blame U.S. for conflict...,b'Georgian president says US military will ta...,b'2006: Nobel laureate Aleksander Solzhenitsyn...
4,2008-08-14,1,b'All the experts admit that we should legalis...,b'War in South Osetia - 89 pictures made by a ...,b'Swedish wrestler Ara Abrahamian throws away ...,b'Russia exaggerated the death toll in South O...,b'Missile That Killed 9 Inside Pakistan May Ha...,"b""Rushdie Condemns Random House's Refusal to P...",b'Poland and US agree to missle defense deal. ...,"b'Will the Russians conquer Tblisi? Bet on it,...",...,b'Bank analyst forecast Georgian crisis 2 days...,"b""Georgia confict could set back Russia's US r...",b'War in the Caucasus is as much the product o...,"b'""Non-media"" photos of South Ossetia/Georgia ...",b'Georgian TV reporter shot by Russian sniper ...,b'Saudi Arabia: Mother moves to block child ma...,b'Taliban wages war on humanitarian aid workers',"b'Russia: World ""can forget about"" Georgia\'s...",b'Darfur rebels accuse Sudan of mounting major...,b'Philippines : Peace Advocate say Muslims nee...

In [14]:
train = data[data['Date'] < '2015-01-01']
print(train.shape)
test = data[data['Date'] > '2014-12-31']
print(test.shape)

(1611, 27)
(378, 27)

In [5]:
example = train.iloc[3,10]
print(example)

b"The commander of a Navy air reconnaissance squadron that provides the President and the defense secretary the airborne ability to command the nation's nuclear weapons has been relieved of duty"

In [6]:
example2 = example.lower()
print(example2)

b"the commander of a navy air reconnaissance squadron that provides the president and the defense secretary the airborne ability to command the nation's nuclear weapons has been relieved of duty"

In [7]:
# 标记（tokenizing）  vectorizer = CountVectorizer(min_df=1)
# 默认设置通过抽取2个字符以上的词标记字符。完成这个步骤的具体函数可以直接调用：analyze = vectorizer.build_analyzer()
example3 = CountVectorizer().build_tokenizer()(example2)  # 这里要build一下这个分词器
# 通用向量使用  CountVectorizer在一个类中实现了标记和计数，这个模型有许多参数，不过默认值已经非常合理
print(example3)

['the', 'commander', 'of', 'navy', 'air', 'reconnaissance', 'squadron', 'that', 'provides', 'the', 'president', 'and', 'the', 'defense', 'secretary', 'the', 'airborne', 'ability', 'to', 'command', 'the', 'nation', 'nuclear', 'weapons', 'has', 'been', 'relieved', 'of', 'duty']

In [10]:
print(set(example3))
print([[x,example3.count(x)] for x in set(example3)])
pd.DataFrame([[x,example3.count(x)] for x in set(example3)], columns = ['Word', 'Count'])

{'provides', 'duty', 'the', 'weapons', 'of', 'president', 'and', 'command', 'nation', 'relieved', 'squadron', 'navy', 'defense', 'commander', 'been', 'ability', 'reconnaissance', 'has', 'air', 'that', 'nuclear', 'to', 'airborne', 'secretary'}
[['provides', 1], ['duty', 1], ['the', 5], ['weapons', 1], ['of', 2], ['president', 1], ['and', 1], ['command', 1], ['nation', 1], ['relieved', 1], ['squadron', 1], ['navy', 1], ['defense', 1], ['commander', 1], ['been', 1], ['ability', 1], ['reconnaissance', 1], ['has', 1], ['air', 1], ['that', 1], ['nuclear', 1], ['to', 1], ['airborne', 1], ['secretary', 1]]

              Word  Count
0         provides      1
1             duty      1
2              the      5
3          weapons      1
4               of      2
5        president      1
6              and      1
7          command      1
8           nation      1
9         relieved      1
10        squadron      1
11            navy      1
12         defense      1
13       commander      1
14            been      1
15         ability      1
16  reconnaissance      1
17             has      1
18             air      1
19            that      1
20         nuclear      1
21              to      1
22        airborne      1
23       secretary      1

In [11]:
trainheadlines = []  # 这是一个list，是一个构造好的非常大的一个库，存储了每一列拼接完的所有的句子
print(len(train.index))
for row in range(0,len(train.index)):
    trainheadlines.append(' '.join(str(x) for x in train.iloc[row,2:27]))  # 其实也就是先把每一行的所有的句子(Top1-Top25)拼接在一起

1611

In [13]:
print(len(trainheadlines))
basicvectorizer = CountVectorizer()
# 通用向量使用  CountVectorizer在一个类中实现了标记和计数，这个模型有许多参数，不过默认值已经非常合理
basictrain = basicvectorizer.fit_transform(trainheadlines) # fit_transform是求出了有31675个不重复的单词
print(type(basictrain))
print(basictrain.shape)
# 每一个数据都有31675列，是用来统计词频的，统计这31675个词每个词出现的次数

1611
<class 'scipy.sparse.csr.csr_matrix'>
(1611, 31675)

In [16]:
basicmodel = LogisticRegression(solver = 'liblinear')
basicmodel = basicmodel.fit(basictrain, train["Label"])

In [36]:
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
print(len(testheadlines))
basictest = basicvectorizer.transform(testheadlines)
print(type(basictest))
print(basictest.shape)
predictions = basicmodel.predict(basictest)
print(type(predictions))
print(predictions.shape)
print(len(predictions))
accuracy1 = len(predictions[predictions == test["Label"]]) / len(predictions)
print(accuracy1)

378
<class 'scipy.sparse.csr.csr_matrix'>
(378, 31675)
<class 'numpy.ndarray'>
(378,)
378
0.42592592592592593

In [18]:
# 交叉表crosstab 可以按照指定的行和列统计分组频数，用起来非常方便
# 交叉表是用于统计分组频率的特殊透视表
# print(pd.crosstab(df['类别'],df['产地'],margins=True)) # 按类别分组，统计各个分组中产地的频数
pd.crosstab(test["Label"], predictions, rownames=["Actual"], colnames=["Predicted"], margins=True)  # margins=True这玩意就是求和的作用
# 第一个参数是指定index，第二个参数是指定column  
#0.42

Predicted    0    1  All
Actual
0           61  125  186
1           92  100  192
All        153  225  378

In [25]:
basicwords = basicvectorizer.get_feature_names()
print(type(basicwords))
print(len(basicwords))
basiccoeffs = basicmodel.coef_.tolist()[0]  # coef_表示当前model的一系列的权重参数
print(type(basiccoeffs))
print(len(basiccoeffs))
coeffdf = pd.DataFrame({'Word' : basicwords, 
                        'Coefficient' : basiccoeffs})
print(coeffdf.head(10))
coeffdf = coeffdf.sort_values(['Coefficient', 'Word'], ascending=[0, 1])  # 以降序排列，Coefficient从高到低
print(coeffdf.head(10)) # 对比一下，看的明白一些

<class 'list'>
31675
<class 'list'>
31675
   Coefficient    Word
0    -0.080392      00
1    -0.240865     000
2     0.013129  000bpd
3     0.004757   000ft
4     0.006465  000new
5    -0.048042    000s
6     0.009336   000sq
7    -0.005848     001
8    -0.005132     004
9    -0.011835    00am
       Coefficient       Word
19419     0.497924    nigeria
25261     0.452526       self
29286     0.428011         tv
15998     0.425863      korea
20135     0.425716   olympics
15843     0.411636      kills
26323     0.411267         so
29256     0.394855       turn
10874     0.388555      fears
28274     0.384031  territory

In [26]:
coeffdf.tail(10)

       Coefficient       Word
27299    -0.424441   students
8478     -0.427079        did
6683     -0.431925      congo
12818    -0.444069    hacking
7139     -0.448571    country
16949    -0.463116        low
3651     -0.470454      begin
25433    -0.494555        sex
24754    -0.549725  sanctions
24542    -0.587794        run

In [27]:
advancedvectorizer = CountVectorizer(ngram_range=(2,2)) # 没指定参数，默认是一个单词一个单词进行分词
# 通用向量使用 CountVectorizer在一个类中实现了标记和计数，这个模型有许多参数，不过默认值已经非常合理
# 在这里指定参数(2,2)是两个单词两个单词进行分的了
advancedtrain = advancedvectorizer.fit_transform(trainheadlines)
# fit_transform是求出了有366721对不重复的相邻两个单词

In [28]:
print(advancedtrain.shape)

(1611, 366721)

In [29]:
advancedmodel = LogisticRegression(solver = 'liblinear')
advancedmodel = advancedmodel.fit(advancedtrain, train["Label"])

In [35]:
print(test.shape)
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
print(len(testheadlines))
advancedtest = advancedvectorizer.transform(testheadlines)
print(type(advancedtest))
print(advancedtest.shape)
advpredictions = advancedmodel.predict(advancedtest)
print(type(advpredictions))
print(advpredictions.shape)
print(len(advpredictions))
accuracy2 = len(advpredictions[advpredictions == test["Label"]]) / len(advpredictions)
print(accuracy2)

(378, 27)
378
<class 'scipy.sparse.csr.csr_matrix'>
(378, 366721)
<class 'numpy.ndarray'>
(378,)
378
0.5634920634920635

In [37]:
pd.crosstab(test["Label"], advpredictions, rownames=["Actual"], colnames=["Predicted"],  margins=True)
#.57

Predicted    0    1  All
Actual
0           66  120  186
1           45  147  192
All        111  267  378

In [38]:
advwords = advancedvectorizer.get_feature_names()
advcoeffs = advancedmodel.coef_.tolist()[0]   # coef_表示当前model的一系列的权重参数
advcoeffdf = pd.DataFrame({'Words' : advwords, 
                        'Coefficient' : advcoeffs})
advcoeffdf = advcoeffdf.sort_values(['Coefficient', 'Words'], ascending=[0, 1])  # 以降序排列，Coefficient从高到低
advcoeffdf.head(10)

        Coefficient      Words
272047     0.286533   right to
24710      0.275274  and other
285392     0.274698     set to
316194     0.262873  the first
157511     0.227943   in china
159522     0.224184   in south
125870     0.219130   found in
124411     0.216726  forced to
173246     0.211137     it has
322590     0.209239    this is

In [39]:
advcoeffdf.tail(10)

        Coefficient        Words
326846    -0.198495      to help
118707    -0.201654      fire on
155038    -0.209702        if he
242528    -0.211303   people are
31669     -0.213362   around the
321333    -0.215699     there is
327113    -0.221812      to kill
340714    -0.226289        up in
358917    -0.227516    with iran
315485    -0.331153  the country

In [41]:
advancedvectorizer = CountVectorizer(ngram_range=(3,3)) # 没指定参数，默认是一个单词一个单词进行分词
# 通用向量使用 CountVectorizer在一个类中实现了标记和计数，这个模型有许多参数，不过默认值已经非常合理
# 在这里指定参数(3,3)是三个单词三个单词进行分的了
advancedtrain = advancedvectorizer.fit_transform(trainheadlines)
# fit_transform是求出了有611140对不重复的相邻三个单词

In [42]:
print(advancedtrain.shape)

(1611, 611140)

In [43]:
advancedmodel = LogisticRegression(solver = 'liblinear')
advancedmodel = advancedmodel.fit(advancedtrain, train["Label"])

In [44]:
print(test.shape)
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
print(len(testheadlines))
advancedtest = advancedvectorizer.transform(testheadlines)
print(type(advancedtest))
print(advancedtest.shape)
advpredictions = advancedmodel.predict(advancedtest)
print(type(advpredictions))
print(advpredictions.shape)
print(len(advpredictions))
accuracy3 = len(advpredictions[advpredictions == test["Label"]]) / len(advpredictions)
print(accuracy3)

(378, 27)
378
<class 'scipy.sparse.csr.csr_matrix'>
(378, 611140)
<class 'numpy.ndarray'>
(378,)
378
0.5026455026455027

In [45]:
advwords = advancedvectorizer.get_feature_names()
advcoeffs = advancedmodel.coef_.tolist()[0]   # coef_表示当前model的一系列的权重参数
advcoeffdf = pd.DataFrame({'Words' : advwords, 
                        'Coefficient' : advcoeffs})
advcoeffdf = advcoeffdf.sort_values(['Coefficient', 'Words'], ascending=[0, 1])  # 以降序排列，Coefficient从高到低
advcoeffdf.head(10)

        Coefficient               Words
547048     0.166334           to the us
517059     0.166060        the right to
346406     0.159357   nobel peace prize
509309     0.139584      the first time
240485     0.127362  human rights watch
258131     0.119392        in west bank
183395     0.118138       first time in
225498     0.112187    have been killed
365956     0.110323      of the country
527430     0.108360         this is the

In [46]:
advcoeffdf.tail(10)

        Coefficient                  Words
258129    -0.107452         in west africa
547434    -0.108206              to try to
398829    -0.109387  phone hacking scandal
524610    -0.119903            there is no
447327    -0.124095             said to be
359681    -0.125929        of human rights
222471    -0.134566      has been arrested
378538    -0.138594             one of the
51915     -0.188984       around the world
256482    -0.211493         in the country